*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
}
html,body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: 100vh;
}
@media only screen and (min-width: 901px){
.main{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
nav{
    width: 100%;
    height: 8vh;
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 20px 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    z-index: 999;
}
nav .tit{
    color: #fff;
    font-size: 20px;
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}
/* .hover-text-light:hover{
    background-color: black;
} */
.content{
    text-align: center;
    font-family:'Poppins',sans-serif;
}
.content h6{
    font-size: 30px;
    color: #fff;
}
.content h1 {
    font-size: 75px;
    padding: 15px 0px;
    color: #fff;
    font-weight: 600;
}
.content p{
    font-size: 24px;
    padding: 10px 0px;
    color:#fff;
}
.content a{
    text-decoration: none;
    display:inline-block ;
    color: #1EC997;
    font-size: 18px;
    border: 2px solid #1EC997;
    padding: 14px 50px;
    border-radius: 30px;
    margin-top: 30px;
}
.back-video{
    margin:0;
    width: 100%;
    height: 110%;
    position: absolute;
    top: 0%;
    z-index: -1;
    background-size:cover;
}
.down-arrow{
    width: 100%;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
    top: 185px;
}
.pagetwo{
    width: 100%;
    height: 100vh;
}
.hireme{
    transition: 0.3s;
}
.hireme:hover{
    background-color: #1EC997;
    color: #fff;
}
a, .tit ,#nh{
    transition: 0s;
}
a:hover , .tit:hover ,#nh:hover{
    color:#1EC997;
    background-color:black;
}
.pagetwo{
    background-color: #F8F9FA;
    height: 100%;
    width: 100%;
    padding: 0 75px;
}
.p2_div1{
    background-color: #F8F9FA;
    height: 35%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.con{
    position: relative;
    top: 60px;
}
.p2_div1_front{
    color:#EDF0F1;
    height: 100%;
    font-weight: 800;
    font-size: 125px;
    z-index: -10;
} 
.p2_div1_back{
    z-index: 30;
    height: 100%;
    width: 100%;
    font-size: 33px;
    font-weight: 1000;
    position: relative;
    left: 220px;
    bottom: 120px;
}
.p2_div2{
    background-color: #F8F9FA;
    height: 37%;
    width: 100%;
    color: #4f5153;
}
.p2_div2_main{
    height: 100%;
    width: 100%;
    background-color: #F8F9FA;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style:normal;
}
.p2_div2_left{
    float: left;
    height: 100%;
    width: 65%;
    background-color: #F8F9FA;
    padding: 0px;
    line-height: 36px;
    word-wrap: normal;
}
.p2_h1{
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 15px;
    /* color: #B5B3BC; */
}
.b_p1{
    color: #4f5153;
}
.p2_p{
    font-size: 17px;
}
.h1_b{
    color: #1EC997;
}
.p2_div2_right{
    float: right;
    height: 100%;
    width: 35%;
    background-color: #F8F9FA;
    position: relative;
    line-height: 50px;
    padding: 0px 50px;
    font: size 17px;
}
.p2_div2_right hr{
    margin: 5px;
}
.p2_div2_a{
    text-decoration: none;
    color: #fff;
    background-color: #F8F9FA;
    padding: 20px 50px;
    font-size: 15px;
    position: relative;
    top: 20px;
    border-radius: 30px;
    font-weight:525;
    transition: 0.2s;
}
.p2_div2_a:hover{
    color: #fff;
    background-color: #21ad83;
}
.p2_div3_main{
    background-color: #F8F9FA;
    height: 28%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 15px;
    color: #6C757D;
}
.p2_div3 h1{
    text-align: center;
    font-size: 50px;
    font-weight: 500;
}
.p2_div3_d1{
    height: 100%;
    width: 25%;
    padding: 75px;
}
.p2_div3_d1 p{
    position: relative;
    left: 25px;
}
.p2_div3_d2{
    height: 100%;
    width: 25%;
    padding: 75px;
}
.p2_div3_d2 p{
    position: relative;
    left: 35px;
}
.p2_div3_d3{
    height: 100%;
    width: 25%;
    padding: 75px;
}
.p2_div3_d3 p{
    position: relative;
    left: 35px;
}
.p2_div3_d4{
    height: 100%;
    width: 25%;
    padding: 75px;
}
.p2_div3_d4 p{
    position: relative;
    left: 45px;
}
.p2_div3 hr{
    height: fit-content;
    width: 2px;
    color: #f1f4f4;
    background-color: black;
}
.p2_div3 p{
    color: #4f5153;
    padding-top: 10px;
}
.pagethree{
    background-color: #F8F9FA;
    height: 100%;
    width: 100%;
    padding: 0px 120px;
}
.p3_div1{
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.p3_div1_front{
    color:#EDF0F1;
    height: 100%;
    font-weight: 800;
    font-size: 125px;
    z-index: -10;
}
.p3_div1_back{
    z-index: 30;
    height: 100%;
    width: 100%;
    font-size: 33px;
    font-weight: 1000;
    position: relative;
    left: 220px;
    bottom: 120px;
}
.con1{
    position: relative;
    top: 60px;
}
.p3_div2{
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6C757D;
}
.p3_div2_main{
    height: 100%;
    width: 100%;
}
.p3_div2_right{
    height: 100%;
    width: 50%;
    float: left;
    /* background-color: violet; */
}
.p3_div2_left{
    height: 100%;
    width: 50%;
    float: right;
}
.p3_point1{
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
}
.p3_point1 h2 ,.p3_point2 h2,.p3_point3 h2{
    font-size: 22px;
}
.p3_p1_r{
    float: right;
    font-size: 30px;
    padding: 20px;
    background-color:#fff;
    border-radius: 10px;
}
.p3_p1_l{
    float: left;
    width: 90%;
    padding: 20px;
}
.p3_point2{
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
}
.p3_p2_r{
    float: right;
    font-size: 30px;
    padding: 20px;
    background-color:#fff;
    border-radius: 10px;
}
.p3_p2_l{
    float: left;
    width: 90%;
    padding: 20px;
}
.p3_point3{
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
}
.p3_p3_r{
    float: right;
    font-size: 30px;
    padding: 20px;
    color: #1EC997;
    background-color:#fff;
    border-radius: 10px;
}
.p3_p3_l{
    float: left;
    width: 90%;
    padding: 20px;
}
#b1{
    background-color:#fff;
    padding: 20px;
    font-size: 35px;
    border-radius: 10px;
}
.p3_p1_l h2, .p3_p2_l h2 , .p3_p3_l h2{
    color:#252B33;
    font-weight: 500
}
.p3_p1_l p, .p3_p2_l p , .p3_p3_l p{
    line-height: 30px;
    position: relative;
    top: 10px;
}
.pagefour{
    height: 200vh;
    width: 100%;
    padding: 0 75px;
}
.p4_d1_main{
    height: 20%;
    width: 100%;
}
.p4_d1_main{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.p4_div1_front{
    color:#EDF0F1;
    height:50%;
    font-weight: 800;
    font-size: 125px;
    z-index: -10;
}
.p4_div1_back{
    z-index: 30;
    height: 50%;
    width: 100%;
    font-size: 33px;
    font-weight: 1000;
    position: relative;
    left: 250px;
    bottom: 120px;
}
.p4_d1_cont{
    position: relative;
    top: 25%;
}
.p4_d2_main{
    height: 50%;
    width: 100%;
}
.p4_d2_cont{
    height: 100%;
    width: 100%;
}
.p4_d2_left{
    height: 100%;
    width: 50%;
    float: left;
    padding: 25px;
}
.p4_d2_right{
    height: 100%;
    width: 50%;
    float: right;
    padding: 25px;
}
.p4_d2_right h1 , .p4_d2_left h1{
    font-weight: 600;
    font-size: 25px;
    color: #252B33;
}
.p4_d2_l_d1{
    height: 30%;
    width: 100%;
    border: 1px solid #DEE2E6;
    border-radius: 5px;
    padding: 25px;
    position: relative;
    top: 25px;
}
.p4_d2_l_d2{
    height: 30%;
    width: 100%;
    border: 1px solid #DEE2E6;
    border-radius: 5px;
    padding: 25px;
    position: relative;
    top: 45px;
}
.p4_d2_l_d3{
    height: 30%;
    width: 100%;
    border: 1px solid #DEE2E6;
    border-radius: 5px;
    padding: 25px;
    position: relative;
    top: 65px;
}
.p4_2000{
    width: fit-content;
    height:fit-content;
    margin: 0px 0px;
    padding: 2px 5px;
    border-radius: 5px;
    background-color: #1EC997;
    color:#fff ;
}
.p4_d2_l_d1 h2,.p4_d2_l_d2 h2 ,.p4_d2_l_d3 h2,.p4_d2_r_d1 h2 ,.p4_d2_r_d2 h2 , .p4_d2_r_d3 h2{
    position: relative;
    top: 10px;
    font-weight: 500;
    width: 100%;
    height:25%;
    font-size: 25px;
    color: #252B33;
}
.p4_int{
    width: 100%;
    height:25%;
    height: fit-content;
    position: relative;
    color: red;
}
.p4_content{
    width: 100%;
    height:25%;
    height: fit-content;
    position: relative;
    /* top: 30px; */
    line-height: 30px;
}
.p4_d2_right{
    height: 100%;
    width: 50%;
    position: relative;
    float: right;
}
.p4_d2_r_d1{
    height: 30%;
    width: 100%;
    border: 1px solid #DEE2E6;
    border-radius: 5px;
    padding: 25px;
    position: relative;
    top: 25px;
}
.p4_d2_r_d2{
    height: 30%;
    width: 100%;
    border: 1px solid #DEE2E6;
    border-radius: 5px;
    padding: 25px;
    position: relative;
    top: 45px;
}
.p4_d2_r_d3{
    height: 30%;
    width: 100%;
    border: 1px solid #DEE2E6;
    border-radius: 5px;
    padding: 25px;
    position: relative;
    top: 65px;
}
.p4_d3_main{
    height: 20%;
    width: 100%;
}
.p4_d3_cont{
    height: 100%;
    width: 100%;
    padding: 25px;
}
.p4_d3_m1{
    height: 100%;
    width: 100%;
}
.p4_d3_m1 h1{
    font-weight: 600;
    font-size: 25px;
    position: relative;
    top: 5px;
    color: #252B33;
}
.p4_d3_right{
    height: 100%;
    width: 50%;
    float: right;
    padding: 0px 0px 0px 35px;
    position: relative;
    bottom: 50px;
}
.p4_d3_left{
    height: 100%;
    width: 50%;
    float: left;
    padding: 0px 25px 0px 0px;
    position: relative;
    bottom: 50px;
}
.p4_d3_l1{
    height: 30%;
    width: 100%;
    position: relative;
    top: 20px;
}
.p4_d3_l1_top h2{
    float: left;
    font-weight: 500;
    font-size: 18px;
    color: #252B33;
}
.p4_d3_l1_top h3{
    float: right;
    font-weight: 500;
    font-size: 20px;
    color: #252B33;
}
.p4_d3_l1 hr{
    position: relative;
    top: 75px;
    border: 4px solid #DEE2E6;
    border-radius: 10px;
    z-index: -10;
}
.p4_d3_l2{
    height: 30%;
    width: 100%;
    position: relative;
    top: 20px;
}
.p4_d3_l2_top h2{
    float: left;
    font-weight: 500;
    font-size: 18px;
}
.p4_d3_l2_top h3{
    float: right;
    font-weight: 500;
    font-size: 20px;
}
.p4_d3_l2 hr{
    position: relative;
    top: 75px;
    border: 4px solid #DEE2E6;
    border-radius: 10px;
    z-index: -10;
}
#hr_boot{
    position: relative;
    top: 50px;
    border: 4px solid #1EC997;
    border-radius: 10px;
    width: 100%;
    z-index: 100;
}
#hr_react{
    position: relative;
    top: 50px;
    border: 4px solid #1EC997;
    border-radius: 10px;
    width: 1%;
    z-index: 100;
}
#hr_java{
    position: relative;
    top: 50px;
    border: 4px solid #1EC997;
    border-radius: 10px;
    width: 10%;
    z-index: 100;
}
#hr_html{
    position: relative;
    top: 50px;
    border: 4px solid #1EC997;
    border-radius: 10px;
    width: 100%;
    z-index: 100;
}
#hr_web{
    position: relative;
    top: 50px;
    border: 4px solid #1EC997;
    border-radius: 10px;
    width: 10%;
    z-index: 100;
}
#hr_python{
    position: relative;
    top: 50px;
    border: 4px solid #1EC997;
    border-radius: 10px;
    width: 50%;
    z-index: 100;
}
.p4_d3_l3{
    height: 30%;
    width: 100%;
    position: relative;
    top: 20px;
}
.p4_d3_l3_top h2{
    float: left;
    font-weight: 500;
    font-size: 18px;
}
.p4_d3_l3_top h3{
    float: right;
    font-weight: 500;
    font-size: 20px;
}
.p4_d3_l3 hr{
    position: relative;
    top: 75px;
    border: 4px solid #DEE2E6;
    border-radius: 10px;
    z-index: -10;
}
.p4_d4_main{
    height: 10%;
    width: 100%;
}
.p4_d4_a{
    position: relative;
    top: 50px;
    left: 550px;
    border: 2px solid #6C757D;
    width: fit-content;
    padding: 15px 50px;
    border-radius: 30px;
    font-weight: 600;
    text-decoration: none;
    color: #6C757D;
}
.p4_d4_a{
    transition: 0.2s;
}
.p4_d4_a:hover{
    background-color: #6C757D;
    color: #fff;
}
.pagefive{
    height: 100vh;
    width: 100%;
    /* background-color: #1EC997; */
    padding: 0 75px;
}
.p5_main{
    height: 100%;
    width: 100%;
    /* background-color: #252B33; */
}
.p5_div1{
    height: 45%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.p5_div1_front{
    color:#EDF0F1;
    height: 100%;
    font-weight: 800;
    font-size: 125px;
    z-index: -10;
}
.p5_div1_back{
    z-index: 30;
    height: 100%;
    width: 100%;
    font-size: 33px;
    font-weight: 1000;
    position: relative;
    left: 220px;
    bottom: 120px;
}
.p5_content{
    position: relative;
    top: 75px;
}
.p5_div2{
    height: 55%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.p5_div2_main{
    height: 100%;
    width: 100%;
    position: relative;
}
.p5_div2_right{
    width: 75%;
    height: 100%;
    /* background-color: blueviolet; */
    float: right;
}
.p5_div2_right h1{
    font-weight: 500;
    font-size: 20px;
    color:#252B33 ;
}
.p5_d2_d1{
    height: 20%;
    width: 100%;
    position: relative;
}
.p5_d2_d1_1{
    float: left;
    width: 50%;
    height: 100%;
    position: relative;
    top: 20px;
    padding: 0px 20px 0px 0px;
}
.p5_d2_d1_1 input{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #DEE2E6;
    border-radius: 5px;
    padding: 15px;
    background-color:#EDF0F1;
    width: 100%;
}
.p5_d2_d1_1 input::placeholder{
    font-size: 17px;
    color:#9b9d9f;
}
.p5_d2_d1_2{
    float: right;
    height: 100%;
    width: 50%;
    position: relative;
    top: 20px;
}
.p5_d2_d1_2 input{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #DEE2E6;
    border-radius: 5px;
    padding: 15px;
    background-color:#EDF0F1;
    width: 100%;
}
.p5_d2_d1_2 input::placeholder{
    font-size: 17px;
    color:#9b9d9f;
}
.p5_d2_d2{
    height: 40%;
    width: 100%;
}
.p5_d2_d2 textarea{
    border: 2px solid #DEE2E6;
    border-radius: 5px;
    background-color: #EDF0F1;
    width: 100%;
    height: 90%;
    resize: vertical;
}
.p5_d2_d2 textarea::placeholder{
    font-size: 17px;
    color:#9b9d9f;
    padding: 20px 10px;
}
.p5_d2_d3{
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 50px;
}
.p5_d2_d3 a{
    width: fit-content;
    height: fit-content;
    background-color:#1EC997;
    padding: 20px 50px;
    border-radius: 30px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.p5_a{
    transition: 0.2s;
}
.p5_a:hover{
    background-color: #21ad83;
    color: #fff;
}
.p5_div2_left{
    width: 25%;
    height: 100%;
    float: left;
}
.p5_d2_l_1{
    height: 60%;
    width: 100%;
    padding: 0px 100px 0px 0px;
}
.p5_d2_l_1 h1{
    font-size: 20px;
    font-weight: 500;
    color: #252B33;
}
.p5_d2_l1{
    height: 50%;
    width: 100%;
}
.p5_d2_l1 p{
    position: relative;
    top: 20px;
    font-size: 19px;
    line-height: 30px;
    color: #6E6F70;
    word-spacing:3px;
}
.p5_d2_l2{
    height: 50%;
    width: 100%;
    padding: 5px;
    font-size: 19px;
}
#i_l{
    position: relative;
    float: left;
}
.p5_d2_l2 p{
    color: #6E6F70;
}
.p5_d2_l2_lft1{
    align-items: start;
    justify-content: end;
    /* padding: 0px 10px 0px 0px; */
}  
.p5_d2_l2_lft2{
    align-items: start;
    justify-content: end;
    position: relative;
    bottom: 10px;
    /* padding: 5px 10px 0px 0px; */
}
.p5_d2_l2_lft3{
    align-items: start;
    justify-content: end;
    position: relative;
    bottom: 20px;
    /* padding: 10px 10px 0px 0px; */
}
.p5_d2_l_2{
    height: 40%;
    width: 100%;
    padding: 20px 0px;
    position: relative;
    top: 10px;
}
.p5_d2_l_2 h1{
    font-size: 20px;
    font-weight:500;
    padding: 0px 100px 0px 0px;
    color: #252B33;
}
#p5_d2_i{
    padding: 20px 10px;
    font-size: 20px;
    color: #6E6F70;
    transition: 1s;
}
#p5_d2_i:hover{
    color: red;
}
footer{
    height: 20vh;
    width: 100%;
    background-color: #E9EAEB;
    position: relative;
}
.fot_left{
    height: 100%;
    width: 50%;
    float: left;
    padding: 75px;
}
.fot_left p{
    font-size: 18px;
}
.fot_left b{
    color:#1EC997 ;
}
.fot_right{
    height: 100%;
    width: 50%;
    float: right;
    padding: 75px;
    display: flex;
    align-items: end;
    justify-content: end;
}
.fot_right a{
    text-decoration: none;
    padding: 0px 20px;
}
#fot_l_a{
    color: black;
    transition: 0.2s;
}
#fot_l_a:hover{
    color: #1EC997;
    background-color:#E9EAEB;
}
#fot_last{
    position: relative;
    left: 1300px;
    font-size: 40px;
}
}
@media only screen and (max-width: 600px) {
    .main{
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
        position: relative;
        padding: 0 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

nav{
    width: 100%;
    height: 8vh;
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 20px 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    z-index: 999;
}
nav .tit{
    color: #fff;
    font-size: 15px;
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 10px;
}
    .content{
        text-align: center;
        font-family:'Poppins',sans-serif;
    }
    .content h6{
        font-size:30px;
        color: #fff;
    }
    .content h1 {
        font-size: 45px;
        padding: 15px 0px;
        color: #fff;
        font-weight: 600;
    }
    .content p{
        font-size: 20px;
        padding: 10px 0px;
        color:#fff;
    }
    .content a{
        text-decoration: none;
        display:inline-block ;
        color: #1EC997;
        font-size: 18px;
        border: 2px solid #1EC997;
        padding: 14px 30px;
        border-radius: 30px;
        margin-top: 30px;
    }
    .back-video{
        margin:0;
        width: fit-content;
        height:100%;
        position: absolute;
        z-index: -1;
        background-size:cover;
    }
    .down-arrow{
        width: 100%;
        display: flex;
        font-size: 20px;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        position: relative;
        top: 150px;
    }
    .hireme{
        transition: 0.3s;
    }
    .hireme:hover{
        background-color: #1EC997;
        color: #fff;
    }
    a, .tit ,#nh{
        transition: 0s;
    }
    a:hover , .tit:hover ,#nh:hover{
        color:#1EC997;
        background-color:black;
    }
    .pagetwo{
        width: 100%;
        height: 100vh;
    }
    .pagetwo{
        background-color: #F8F9FA;
        /* background-color: violet; */
        height: 200%;
        width: 100%;
        padding: 0 15px;
    }
    .p2_div1{
        background-color: #F8F9FA;
        height: 30%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .con{
        position: relative;
        top: -15%;
    }
    .p2_div1_front{
        color:#EDF0F1;
        height: 100%;
        font-weight: 800;
        font-size: 60px;
        z-index: -10;
    } 
    .p2_div1_back{
        z-index: 40;
        height: 100%;
        width: 100%;
        font-size: 35px;
        font-weight: 1000;
        display: flex;
        position: relative;
        bottom: 75px;
        left: 35px;
    }
    .p2_div2{
        background-color: #F8F9FA;
        height: 100%;
        width: 100%;
        color: #4f5153;
    }
    .p2_div2_main{
        height: 100%;
        width: 100%;
        background-color: #F8F9FA;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style:normal;
    }
    .p2_div2_left{
        height: 100%;
        width: 100%;
        background-color: #F8F9FA;
        padding: 0px;
        line-height: 32.5px;
        word-wrap: normal;
        position: relative;
        bottom: 250px;
    }
    .p2_h1{
        font-weight: 600;
        font-size: 21px;
        margin-bottom: 10px;

    }
    .p2_h1_h1{
        display: flex;
        font-size: 33px;
        position: relative;
        justify-content: center;
        margin-bottom: 15px ;
    }
    .p2_p{
        font-size: 16px;
        text-align: center;
    }
    .h1_b{
        color: #1EC997;
    }
    .p2_div2_right{
        height: 100%;
        width: fit-content;
        background-color: #F8F9FA;
        line-height: 25px;
        padding: 0px 25px 0px 5px;
        /* display:flex; */
        position: relative;
        align-items: center;
        justify-content: center;
        /* background-color: #252B33; */
    }
    .p2_div2_right_main{
        display: inline-table;
        position: relative;
        bottom: 1050px;
        width: 140%;
        /* background-color: #1EC997; */
    }
    .p2_div2_right hr{
        /* color: #ffffff; */
        margin: 1px;
    }
    .p2_div2_a{
        text-decoration: none;
        color: #fff;
        background-color: #1EC997;
        padding: 15px 30px;
        font-size: 15px;
        position: relative;
        top: 30px;
        /* left: 90px; */
        border-radius: 30px;
        font-weight:525;
        transition: 0.2s;
    }
    .p2_div2_a:hover{
        color: #fff;
        background-color: #21ad83;
    }
    .p2_div3{
        background-color: #F8F9FA;
        height: 20%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: 15px;
        color: #6C757D;
    }
    .p2_div3_main{
        height: 20%;
        /* background-color: #1EC997; */
        width: 100%;
        display:inline-table;
        position: relative;
        bottom: 800px;
    }
    .p2_div3 h1{
        text-align: center;
        font-size: 50px;
        font-weight: 500;
    }
    .p2_div3_d1{
        float: left;
        height: 50%;
        width: 50%;
        /* background-color: violet; */
        /* padding: 75px; */
    }
    .p2_div3_d1 p{
        position: relative;
        left: 25px;
    }
    .p2_div3_d2{
        float: right;
        height: 50%;
        width: 50%;
        position: relative;
        /* bottom: 33px; */
        /* background-color: #1EC997; */
        /* padding: 75px; */
    }
    .p2_div3_d2 p{
        position: relative;
        left: 35px;
    }
    .p2_div3_d3{
        float: left;
        height: 50%;
        width: 50%;
        /* padding: 75px; */
    }
    .p2_div3_d3 p{
        position: relative;
        left: 35px;
    }
    .p2_div3_d4{
        float: right;
        height: 50%;
        width: 50%;
        position: relative;
        /* bottom: 33px; */
        /* padding: 75px; */
    }
    .p2_div3_d4 p{
        position: relative;
        left: 45px;
    }
    .p2_div3 p{
        color: #4f5153;
        padding-top: 10px;
    }
    .pagefour{
        height: 440vh;
        width: 100%;
        /* padding: 0 75px; */
    }
    .p4_d1_main{
        height: 10%;
        width: 100%;
    }
    .p4_d1_main{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: -20px;
        background-color:white;
    }
    .p4_div1_front{
        color:#EDF0F1;
        height:50%;
        font-weight: 800;
        font-size: 60px;
        z-index: -10;
    }
    .p4_div1_back{
        z-index: 30;
        height: 50%;
        width: 100%;
        font-size: 30px;
        font-weight: 1000;
        position: relative;
        left: 120px;
        bottom: 65px;
    }
    .p4_d2_main{
        height: 50%;
        width: 100%;
        background-color: white;
        position: relative;
        top: -70px;
    }
    .p4_d2_cont{
        position: relative;
        top: -5%;
    }
    .p4_d2_cont{
        height: 50%;
        width: 100%;
        background-color: white;
    }
    .p4_d2_left{
        height: 100%;
        width: 70%;
        display: inline-table;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
    .p4_d2_right{
        height: 100%;
        width: 70%;
        display: inline-table;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
    .p4_d2_right h1 , .p4_d2_left h1{
        font-weight: 600;
        font-size: 25px;
        color: #252B33;
    }
    .p4_d2_l_d1{
        height: 30%;
        width: 140%;
        border: 1px solid #DEE2E6;
        border-radius: 5px;
        padding: 25px;
        position: relative;
        top: 25px;
    }
    .p4_d2_l_d2{
        height: 30%;
        width: 140%;
        border: 1px solid #DEE2E6;
        border-radius: 5px;
        padding: 25px;
        position: relative;
        top: 45px;
    }
    .p4_d2_l_d3{
        height: 30%;
        width: 140%;
        border: 1px solid #DEE2E6;
        border-radius: 5px;
        padding: 25px;
        position: relative;
        top: 65px;
    }
    .p4_2000{
        width: fit-content;
        height:fit-content;
        margin: 0px 0px;
        padding: 2px 5px;
        border-radius: 5px;
        background-color: #1EC997;
        color:#fff ;
    }
    .p4_d2_l_d1 h2,.p4_d2_l_d2 h2 ,.p4_d2_l_d3 h2,.p4_d2_r_d1 h2 ,.p4_d2_r_d2 h2 , .p4_d2_r_d3 h2{
        position: relative;
        top: 10px;
        font-weight: 500;
        width: 100%;
        height:25%;
        font-size: 25px;
        color: #252B33;
    }
    .p4_int{
        width: 100%;
        height:25%;
        height: fit-content;
        position: relative;
        top: 10px;
        color: red;
    }
    .p4_content{
        width: 100%;
        height:25%;
        height: fit-content;
        position: relative;
        /* top: 30px; */
        line-height: 30px;
    }
    .p4_d2_right{
        height: 100%;
        width: 70%;
        position: relative;
        top: 50px;
    }
    .p4_d2_r_d1{
        height: 30%;
        width: 150%;
        border: 1px solid #DEE2E6;
        border-radius: 5px;
        padding: 25px;
        position: relative;
        top: 25px;
    }
    .p4_d2_r_d2{
        height: 30%;
        width: 150%;
        border: 1px solid #DEE2E6;
        border-radius: 5px;
        padding: 25px;
        position: relative;
        top: 45px;
    }
    .p4_d2_r_d3{
        height: 30%;
        width: 150%;
        border: 1px solid #DEE2E6;
        border-radius: 5px;
        padding: 25px;
        position: relative;
        top: 65px;
    }
    .p4_d3_main{
        height: 30%;
        width: 100%;
    }
    .p4_d3_cont{
        /* background-color: bisque; */
        height: 30%;
        width: 100%;
        padding: 25px;
        position: relative;
        top: 500px;
        display: inline-table;
    }
    .p4_d3_m1{
        height: 30%;
        width: 100%;
    }
    .p4_d3_m1 h1{
        font-weight: 600;
        font-size: 25px;
        position: relative;
        top: 5px;
        color: #252B33;
    }
    .p4_d3_right{
        height: 100%;
        width: 100%;
        /* padding: 0px 0px 0px 35px; */
        position: relative;
        bottom: 50px;
    }
    .p4_d3_left{
        height: 100%;
        width: 100%;
        /* padding: 0px 25px 0px 0px; */
        position: relative;
        bottom: 50px;
    }
    .p4_d3_l1{
        height: 30%;
        width: 100%;
        position: relative;
        top: 20px;
    }
    .p4_d3_l1_top h2{
        float: left;
        font-weight: 500;
        font-size: 18px;
        color: #252B33;
    }
    .p4_d3_l1_top h3{
        float: right;
        font-weight: 500;
        font-size: 20px;
        color: #252B33;
    }
    .p4_d3_l1 hr{
        position: relative;
        top: 75px;
        width: 100%;
        border: 4px solid #DEE2E6;
        /* border-radius: 5px; */
        z-index: -10;
    }
    .p4_d3_l2{
        height: 30%;
        width: 100%;
        position: relative;
        top: 20px;
    }
    .p4_d3_l2_top h2{
        float: left;
        font-weight: 500;
        font-size: 18px;
    }
    .p4_d3_l2_top h3{
        float: right;
        font-weight: 500;
        font-size: 20px;
    }
    .p4_d3_l2 hr{
        position: relative;
        top: 75px;
        width: 100%;
        border: 4px solid #DEE2E6;
        border-radius: 10px;
        z-index: -10;
    }
    #hr_boot{
        position: relative;
        top: 50px;
        border: 4px solid #1EC997;
        border-radius: 10px;
        width: 100%;
        z-index: 100;
    }
    #hr_react{
        position: relative;
        top: 50px;
        border: 4px solid #1EC997;
        border-radius: 10px;
        width: 1%;
        z-index: 100;
    }
    #hr_java{
        position: relative;
        top: 50px;
        border: 4px solid #1EC997;
        border-radius: 10px;
        width: 10%;
        z-index: 100;
    }
    #hr_html{
        position: relative;
        top: 50px;
        border: 4px solid #1EC997;
        border-radius: 10px;
        width: 100%;
        z-index: 100;
    }
    #hr_web{
        position: relative;
        top: 50px;
        border: 4px solid #1EC997;
        border-radius: 10px;
        width: 10%;
        z-index: 100;
    }
    #hr_python{
        position: relative;
        top: 50px;
        border: 4px solid #1EC997;
        border-radius: 10px;
        width: 50%;
        z-index: 100;
    }
    .p4_d3_l3{
        height: 30%;
        width: 100%;
        position: relative;
        top: 20px;
    }
    .p4_d3_l3_top h2{
        float: left;
        font-weight: 500;
        font-size: 18px;
    }
    .p4_d3_l3_top h3{
        float: right;
        font-weight: 500;
        font-size: 20px;
    }
    .p4_d3_l3 hr{
        position: relative;
        top: 75px;
        width: 100%;
        border: 4px solid #DEE2E6;
        border-radius: 10px;
        z-index: -10;
    }
    .p4_d4_main{
        height: 10%;
        width: 100%;
    }
    .p4_d4_cont{
        padding: 0px 0px 0px 0px;
    }
    .p4_d4_a{
        position: relative;
        /* bottom: 240px; */
        top: 160px;
        left: 70px;
        border: 2px solid #6C757D;
        width: fit-content;
        padding: 15px 50px;
        border-radius: 30px;
        font-weight: 600;
        text-decoration: none;
        color: #6C757D;
    }
    .p4_d4_a{
        transition: 0.2s;
    }
    .p4_d4_a:hover{
        background-color: #6C757D;
        color: #fff;
    }
    .pagethree{
        background-color: #F8F9FA;
        height: 200vh;
        width: 100%;
        /* padding: 0px 120px; */
    }
    .p3_div1{
        height: 40%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .p3_div1_front{
        color:#EDF0F1;
        height: 100%;
        font-weight: 800;
        font-size: 65px;
        z-index: -10;
    }
    .p3_div1_back{
        z-index: 30;
        height: 100%;
        width: 100%;
        font-size: 33px;
        font-weight: 1000;
        position: relative;
        left: 75px;
        bottom: 72px;
    }
    .con1{
        position: relative;
        top: -140px;
    }
    .p3_div2{
        height: 60%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #6C757D;
    }
    .p3_div2_main{
        height: 100%;
        width: 100%;
    }
    .p3_div2_right{
        height: 50%;
        width: 100%;
        /* float: left; */
        display: inline-table;
        position: relative;
        top: -400px;
        /* background-color: violet; */
    }
    .p3_div2_left{
        height: 50%;
        width: 100%;
        display: inline-table;
        position: relative;
        top: -400px;
        /* float: right; */
    }
    .p3_point1{
        height: 30%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 13px;
    }
    .p3_point1 h2 ,.p3_point2 h2,.p3_point3 h2{
        font-size: 20px;
    }
    .p3_p1_r{
        float: right;
        font-size: 30px;
        padding: 20px;
        background-color:#fff;
        border-radius: 10px;
    }
    .p3_p1_l{
        float: left;
        width: 90%;
        padding:15px;
    }
    .p3_point2{
        height: 30%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 13px;
    }
    .p3_p2_r{
        float: right;
        font-size: 30px;
        padding: 20px;
        background-color:#fff;
        border-radius: 10px;
    }
    .p3_p2_l{
        float: left;
        width: 90%;
        padding: 15px;
    }
    .p3_point3{
        height: 40%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 13px;
    }
    .p3_p3_r{
        float: right;
        font-size: 30px;
        padding: 20px;
        color: #1EC997;
        background-color:#fff;
        border-radius: 10px;
    }
    .p3_p3_l{
        float: left;
        width: 90%;
        padding: 15px;
    }
    #b1{
        background-color:#fff;
        padding: 20px;
        font-size: 35px;
        border-radius: 10px;
    }
    .p3_p1_l h2, .p3_p2_l h2 , .p3_p3_l h2{
        color:#252B33;
        font-weight: 500
    }
    .p3_p1_l p, .p3_p2_l p , .p3_p3_l p{
        line-height: 30px;
        position: relative;
        top: 10px;
    }
    .pagefive{
        height: 100vh;
        width: 100%;
        /* background-color: #1EC997; */
        padding: 0 15px;
    }
    .p5_main{
        height: 100%;
        width: 100%;
        /* background-color: #252B33; */
    }
    .p5_div1{
        height: 45%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .p5_div1_front{
        color:#EDF0F1;
        height: 100%;
        font-weight: 800;
        font-size: 70px;
        z-index: -10;
    }
    .p5_div1_back{
        z-index: 30;
        height: 100%;
        width: 100%;
        font-size: 30px;
        font-weight: 1000;
        position: relative;
        left: 70px;
        bottom: 73px;
    }
    .p5_content{
        position: relative;
        top: -10px;
    }
    .p5_div2{
        height: 55%;
        width: 100%;
        display:inline-table;
        align-items: center;
        justify-content: center;
    }
    .p5_div2_main{
        height: 100%;
        width: 100%;
        position: relative;
        bottom: -50px;
    }
    .p5_div2_right{
        width: 75%;
        height: 100%;
        /* background-color: blueviolet; */
        /* float: right; */
        display: inline-table;
        align-items: center;
        justify-content: center;
        position: relative;
        top: -600px;
        left: 80px;
    }
    .p5_div2_right h1{
        font-weight: 500;
        font-size: 22px;
        color:#252B33 ;
    }
    .p5_d2_d1{
        height: 20%;
        width: 100%;
        position: relative;
    }
    .p5_d2_d1_1{
        /* float: left; */
        width: 130%;
        height: 100%;
        position: relative;
        top: 20px;
        left: -75px;
    }
    .p5_d2_d1_1 input{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #DEE2E6;
        border-radius: 5px;
        padding: 15px;
        background-color:#EDF0F1;
        width: 100%;
    }
    .p5_d2_d1_1 input::placeholder{
        font-size: 17px;
        color:#9b9d9f;
    }
    .p5_d2_d1_2{
        /* float: right; */
        height: 100%;
        width: 130%;
        position: relative;
        top: 20px;
        left: -75px;
    }
    .p5_d2_d1_2 input{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #DEE2E6;
        border-radius: 5px;
        padding: 15px;
        background-color:#EDF0F1;
        width: 100%;
    }
    .p5_d2_d1_2 input::placeholder{
        font-size: 17px;
        color:#9b9d9f;
    }
    .p5_d2_d2{
        height: 40%;
        width: 130%;
        position: relative;
        top: 20px;
        left: -75px;
    }
    .p5_d2_d2 textarea{
        border: 2px solid #DEE2E6;
        border-radius: 5px;
        background-color: #EDF0F1;
        width: 100%;
        height: 90%;
        resize: vertical;
    }
    .p5_d2_d2 textarea::placeholder{
        font-size: 17px;
        color:#9b9d9f;
        padding: 20px 10px;
    }
    .p5_d2_d3{
        height: 40%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: -40px;
        left: -35px;
    }
    .p5_d2_d3 a{
        width: fit-content;
        height: fit-content;
        background-color:#1EC997;
        padding: 20px 50px;
        border-radius: 30px;
        text-decoration: none;
        color: #fff;
        font-weight: 600;
    }
    .p5_a{
        transition: 0.2s;
    }
    .p5_a:hover{
        background-color: #21ad83;
        color: #fff;
    }
    .p5_div2_left{
        width: 25%;
        height: 50%;
        display: inline-table;
        position: relative;
        top: 400px;
    }
    .p5_d2_l_1{
        height: 60%;
        width: 100%;
        padding: 0px 50px 0px 0px;
        /* background-color: #252B33; */
    }
    .p5_d2_l_1 h1{
        font-size: 20px;
        font-weight: 600;
        color: #252B33;
        position: relative;
        left: 140px;
    }
    .p5_d2_l1{
        height: 50%;
        width: 150%;
        position: relative;
        text-align: center;
        left: 65px;
    }
    .p5_d2_l1 p{
        position: relative;
        top: 20px;
        font-size: 19px;
        line-height: 30px;
        color: #6E6F70;
        word-spacing:3px;
    }
    .p5_d2_l2{
        height: 50%;
        width: 100%;
        padding: 5px;
        font-size: 19px;
        position: relative;
    }
    #i_l{
        position: relative;
        float: left;
        font-size: 20px;
        width: 50%;
        padding: 20px;
        /* background-color: #1EC997; */
    }
    .p5_d2_l2 p{
        width: 50%;
        position: relative;
        float: right;
        color: #6E6F70;
        /* padding: 10px; */
        /* background-color: yellowgreen; */
    }
    .p5_d2_l2_lft1{
        align-items: start;
        justify-content: end;
        position: relative;
        text-align: center;
        left: 65px;
        /* padding: 0px 10px 0px 0px; */
    }  
    .p5_d2_l2_lft2{
        align-items: start;
        justify-content: end;
        position: relative;
        bottom: 10px;
        position: relative;
        text-align: center;
        left: 65px;
        /* padding: 5px 10px 0px 0px; */
    }
    .p5_d2_l2_lft3{
        align-items: start;
        justify-content: end;
        position: relative;
        bottom: 20px;
        position: relative;
        text-align: center;
        left: 65px;
        /* padding: 10px 10px 0px 0px; */
    }
    .p5_d2_l_2{
        height: 40%;
        width: 100%;
        padding: 20px 0px;
        position: relative;
        top: 10px;
        left: 130px;
    }
    .p5_d2_l_2 i{
        position: relative;
        right: 40px;
    }
    .p5_d2_l_2 h1{
        font-size: 20px;
        font-weight:600;
        padding: 0px 100px 0px 0px;
        color: #252B33;
        text-align: center;
    }
    #p5_d2_i{
        padding: 20px 10px;
        font-size: 20px;
        color: #6E6F70;
        transition: 1s;
    }
    #p5_d2_i:hover{
        color: red;
    }
    /* footer{
        height: 20vh;
        width: 100%;
        background-color: #E9EAEB;
        position: relative;
    }
    .fot_left{
        height: 100%;
        width: 50%;
        float: left;
        padding: 75px;
    }
    .fot_left p{
        font-size: 18px;
    }
    .fot_left b{
        color:#1EC997 ;
    }
    .fot_right{
        height: 100%;
        width: 50%;
        float: right;
        padding: 75px;
        display: flex;
        align-items: end;
        justify-content: end;
    }
    .fot_right a{
        text-decoration: none;
        padding: 0px 20px;
    }
    #fot_l_a{
        color: black;
        transition: 0.2s;
    }
    #fot_l_a:hover{
        color: #1EC997;
        background-color:#E9EAEB;
    }
    #fot_last{
        position: relative;
        left: 1300px;
        font-size: 40px;
    } */
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
    
}